{% extends "base.html" %}
{% block body %}
<!--<form action="/fincalc">
    Enter Your Current Bank Account Balance: $<input type="text" name="Current Balance"><br>
    Enter Your Monthly Costs: $<input type="text" name="Monthly Costs"><br>
    Enter Your Monthly Income: $<input type="text" name="Income"><br>
    <button type="submit" name="Submit">Submit</button>
</form>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal" action="/fincalc">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Current Bank Account Balance</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input id="balance" name="balance" placeholder="$2500" class="form-control" required="true" type="text"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Monthly Costs</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="monthly" name="monthly" placeholder="$1000" class="form-control" required="true" type="text"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Monthly Income</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="income" name="income" placeholder="$2000" class="form-control" required="true" type="text"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Daily Expenditures</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="daily" name="daily" placeholder="$20" class="form-control" required="true" type="text"></div>
                </div>
              </div>
	</td>
      </tr>
    </tbody>
    </table>
              <button type="submit" name="Submit">Submit</button>
             </form> 
              
</div>
{% endblock body %}

{% block script %}
<script src="/static/findata.js"></script>
{% endblock %}
