{% extends "base.html" %}
{% block body %}
<!--<form action="/fincalc">
    Enter Your Current Bank Account Balance: $<input type="text" name="Current Balance"><br>
    Enter Your Monthly Costs: $<input type="text" name="Monthly Costs"><br>
    Enter Your Monthly Income: $<input type="text" name="Income"><br>
    <button type="submit" name="Submit">Submit</button>
</form>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
id="bootstrap-css">

{% if diction %}
<div class="card text-center">
    <div class="card-header">
      Your Finances
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>This is the data we got from you:</b></h5>
      {% for item in diction %}
      <p class="card-text">{{item}}...............${{diction[item]}}</p>
      {% endfor %}
      {% if daily %}
      <p class="card-text"><b>Your Expenditures</b></p>
      {% else %}
      {% endif %}
      {% for a in daily %}
      <p class="card-text">{{a}}............${{daily[a]}}</p>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal" action="/fincalc" method="POST">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Current Bank Account Balance</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-user"></i></span><input id="balance" name="balance"
                      class="form-control" required="true" type="text" value="${% if diction %}{{diction['Balance']}}{% endif %}"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Monthly Costs</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-stats"></i></span><input id="monthly" name="monthly"
                      class="form-control" required="true" type="text" value="${% if diction %}{{diction['Monthly Costs']}}{% endif %}"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Monthly Income</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-stats"></i></span><input id="income" name="income"
                      class="form-control" required="true" type="text" value="${% if diction %}{{diction['Income']}}{% endif %}"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Daily Expenditures</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group" id="exp"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-stats"></i></span><input id="daily" name="daily"
                      class="form-control" required="true" type="text" value="{% if total %}${{total}}{% endif %}" placeholder="Your total expenses will show up here..." disabled>
                      {% if daily %}
                        {% for item in daily %}
                          <br />
                          <input name="expense-name" class="form-control" required="true" type="text" placeholder="Coffee, Bus, etc." value="{{item}}"/>
                          <input type="text" class="form-control" required="true" placeholder="Expenditure" value="${{daily[item]}}" onkeyup="keep_first_char();add_all();"/>
                        {% endfor %}
                      {% endif %}
                    <button class="btn btn-secondary" onclick="addExpense()" id="adder" type="button">Add Expenditure</button>
                  <button class="btn btn-secondary" onclick="removeExpense()" id="subtractor"
type="button">Remove Expenditure</button></div>
                </div>
              </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" type="submit" name="Submit">Submit</button>
  </form>
</div>
{% endblock body %}

{% block script %}
<script src="/static/findata.js"></script>
{% endblock %}
