{% extends "base.html" %}
{% block title %}
Add or Update Your Finances
{% endblock %}
{% block body %}
<!--<form action="/fincalc">
    Enter Your Current Bank Account Balance: $<input type="text" name="Current Balance"><br>
    Enter Your Monthly Costs: $<input type="text" name="Monthly Costs"><br>
    Enter Your Monthly Income: $<input type="text" name="Income"><br>
    <button type="submit" name="Submit">Submit</button>
</form>-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
id="bootstrap-css">
<br>
<br>
{% if diction %}
<div class="card text-center">
    <div class="card-header">
      Your Finances
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>This is the data we got from you:</b></h5>
      {% for item in diction %}
      <p class="card-text">{{item}}...............${{"%.2f" % (diction[item])}}</p>
      {% endfor %}
      {% if months %}
      <p class="card-text"><b>Your Monthly Expenditures</b></p>
      {% endif %}
      {% for a in months %}
      <p class="card-text">{{a}}............${{"%.2f" % (months[a])}}</p>
      {% endfor %}
      {% if daily %}
      <p class="card-text"><b>Your Expenditures</b></p>
      {% endif %}
      {% for a in daily %}
      <p class="card-text">{{a}}............${{"%.2f" % (daily[a])}}</p>
      {% endfor %}
    </div>
  </div>
{% endif %}

<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td colspan="1">
          <form class="well form-horizontal" action="/fincalc" method="POST">
            <fieldset>
              <div class="form-group">
                <label class="col-md-4 control-label">Current Bank Account Balance</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-user"></i></span><input id="balance" name="balance"
                      class="form-control" required="true" type="text" value="${% if diction %}{{'%.2f' % (diction['Balance'])}}{% endif %}"></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Monthly Costs</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group" id="mon"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-th-list"></i></span><input id="monthly" name="monthly"
                      class="form-control" required="true" type="text" value="{% if mtotal %}${{'%.2f' % (mtotal)}}{% endif %}" placeholder="Your total monthly costs will show up here..." disabled>
                      {% if months %}
                        {% for item in months %}
                          <!-- <div class="mons"> -->
                          <br class="starting">
                          <input name="monthly-name" class="form-control" required="true" type="text" placeholder="Rent, Bills, etc." value="{{item}}">
                          <input name="mcost" type="text" class="form-control" required="true" placeholder="Monthly Expenditure" value="${{'%.2f' % (months[item])}}">
                          <p class="imp_text">Select Your Importance:</p>
                          <select name="m_importance">
                            {% for opt in range(10) %}
                              {% if ratings[item] == opt + 1 %}
                              <option value="{{opt + 1}}" selected>{{opt + 1}}</option>
                              {% else %}
                              <option value="{{opt + 1}}">{{opt + 1}}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <br class="ending">
                        <!-- </div> -->
                        {% endfor %}
                      {% endif %}
                      <button class="btn btn-secondary" onclick="addMonthlyExpense()" id="month_adder" type="button">Add Monthly Expenditure</button>
                    <button class="btn btn-secondary" onclick="removeMonthlyExpense()" id="month_subtractor"
  type="button">Remove Monthly Expenditure</button></div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Monthly Income</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-usd"></i></span><input id="income" name="income"
                      class="form-control" required="true" type="text" value="${% if diction %}{{'%.2f' % (diction['Income'])}}{% endif %}">
                      </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label">Daily Expenditures</label>
                <div class="col-md-8 inputGroupContainer">
                  <div class="input-group" id="exp"><span class="input-group-addon"><i
                        class="glyphicon glyphicon-th-list"></i></span><input id="daily" name="daily"
                      class="form-control" required="true" type="text" value="{% if total %}${{'%.2f' % (total)}}{% endif %}" placeholder="Your total expenses will show up here..." disabled>
                      {% if daily %}
                        {% for item in daily %}
                        <!-- <div class="days"> -->
                          <br class="starting"/>
                          <input name="expense-name" class="form-control" required="true" type="text" placeholder="Coffee, Bus, etc." value="{{item}}"/>
                          <input name="dcost" type="text" class="form-control" required="true" placeholder="Expenditure" value="${{'%.2f' % (daily[item])}}"/>
                          <p >Select Your Importance:</p>
                          <select name="importance">
                            {% for opt in range(10) %}
                              {% if ratings[item] == opt + 1 %}
                              <option value="{{opt + 1}}" selected>{{opt + 1}}</option>
                              {% else %}
                              <option value="{{opt + 1}}">{{opt + 1}}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                          <br class="ending">
                        <!-- </div> -->
                        {% endfor %}
                      {% endif %}
                    <button class="btn btn-secondary" onclick="addExpense()" id="adder" type="button">Add Expenditure</button>
                  <button class="btn btn-secondary" onclick="removeExpense()" id="subtractor"
type="button">Remove Expenditure</button></div>
                </div>
              </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" type="submit" name="Submit">Submit</button>
  </form>
</div>
{% endblock body %}

{% block script %}
<script src="/static/findata.js"></script>
{% endblock %}